<meta charset="UTF-8">

<body background="static/smartcity.jpg" style="background-repeat:no-repeat;  background-attachment: fixed ;
background-position: 0px 0px;background-size: 100% 100%;">
<link rel="stylesheet" href="static/boostrap.css">
<style>
h1{
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100px;
    }   
        input{
            width: 30%;
            height: 300%;
            font-size: 20px;
            color: seagreen;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
        }
</style>

<form action="/hienthi" method="POST">
    <div class="container-fluid">
        <div class="row" >
            <h1>Quản lý tòa nhà S</h1>
            
            <div class="col-sm-12" align="center">
                <input type="submit" name="hienthi" value="Realtime">
                <p></p>
                <p></p>
                <p> </p>
                <p></p>
                <input type="submit" name="hienthi" value="Theo đơn vị-cá nhân">
				<input type="submit" name="hienthi" value="Hiển thị Thông tin cá nhân">

                </div>

        </div>
    </div>
</form>

</body>
</html>