<form method="POST" action="/hocnguoi_2" align = "center">
    <style>input{color : red;font-size : 26pt; width: 30%; height: 100px;}</style>
 <tr>
  <td colspan="3">
      <h1 style="color : red"> INPUT ID </h1>
   <textarea name = "text" id="inputTextToSave" style="width:200px;height:200px"></textarea>
  </td>
 </tr>
 <tr>
  <!--<td>Filename to Save As:</td>
  <td><input id="inputFileNameToSaveAs"></input></td>-->
  <td>
     <p> <input type="submit"  value = "Start-Recording" name ="get_value_recording" style="color : red;font-size : 26pt; width: 30%; height: 100px;" ></p>
      <{{va}}>
  	<p>     <p> <input type="submit"  value = "LOAD-AUTOMATION-LEARN" name ="get_value_recording" style="color : red;font-size : 26pt; width: 30%; height: 100px;" ></p>
</td><!-- onclick="saveTextAsFile()" -->
 </tr>
</form>