<form method="POST" action="/hocnguoi" align = "center">
<style>
	input{
		/*block-size: 28px;*/
		color: red;
		font-size: 39pt;
		size: "10";
		width: 500px; height: 300px;
		border-radius:10% 30% 50% 20%;
	}
</style>
	<h1> id cua ban la : {{id_}}</h1>
	<input type="submit" value="1.Từ camera" name="chon_options_hocnguoi">
	&emsp;&emsp;
	<!-- <input type="submit" value="Tải ảnh" name="chon_options_hocnguoi"> -->
	<!-- &emsp;&emsp; -->
	
	<input type="submit" value="2.Tải lên Video" name="chon_options_hocnguoi"> 
	&emsp;&emsp;
	<input type="submit" value="3.Tải lên nhiều ảnh" name="chon_options_hocnguoi">
	
	<!-- 
		upload video để face box rồi mở thư mục ảnh đã cắt ra, để nhân viên quản lý chọn ảnh để qua option 2 để upload ảnh tốt
		option2 : để upload nhiều ảnh ->> tự chọn do nhân viên chọn lọc.
		option1 : Để học trực tiếp khi người ta ở sảnh khung.
		
	-->

 
</form>