<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager of S - Building</title>
      <link rel="stylesheet" href="static/boostrap.css">
      <style> 
        h1{
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100px;
    }   
        input{
            width: 30%;
            height: 200%;
            font-size: 20px;
            color: seagreen;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
        }

      </style>
</head>
<body background="static/smartcity.jpg" style="background-repeat:no-repeat;  background-attachment: fixed ;
background-position: 0px 0px;background-size: 100% 100%;">

<form  method="POST" action="/trangchu">
    <div class="container-fluid">
        <div class="row" >
            <h1>Quản lý tòa nhà S</h1>
            <div class="col-sm-12" align="center">
                <input type="submit" value="Học Người" name="trangchu">
                <p></p>
                <p></p>
                <p></p>
                <p></p>
                <input type="submit" value="Xem Thông tin người vào ra tòa nhà" name="trangchu">
                <input type="submit" value="Xem thống kê dạng biểu đồ của các đơn vị" name ="trangchu">
                <input type="submit" value="Đăng xuất" name="trangchu">
            </div>

        </div>
    </div>
</form>

</body>
</html>