
<!DOCTYPE html>
<html>
<head>
	<title>Manager of S-building</title>
	<!--link rel="stylesheet" type="text/css" href="login.css"-->
</head>
<body>
	<p align="center"><img src ="static/Logo_dhbkdn.jpg" width="300" length = "300"/></p>
    <form align = "center" action = "/" method = "post">
         <h1>Enter your account</h1>
         <p><textarea type = "text" name = "tk" width="10%"></textarea></p>
         <p><textarea type = "password" name = "pass"  width="10%"></textarea></p>
         <p><input type = "submit" value = "submit" /></p>
    </form>
    
  </body>
</html>
