<!DOCTYPE html>
<html>
<head>	
	<title>Login- MANAGEMENT</title>	
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=0.42; maximum-scale=1.0;"> 
<link rel="stylesheet" type="text/css" href="static/style.css">
<link rel="icon" href="#">

<style type="text/css">
	input{
		width:300px;
		height: 100px;
	}
	body{
		background-color:#ADABAB;
	}
</style>
	<!-- <title></title> -->
</head>
<body>
<div align="center">
	<div class="contain-fluid">
		<div class="row">
			<div class="col-sm-6" align="right">
				<div class="row">
					<h1 style="color : green; font-size: 80px;"> Đại Học </h1>
				</div>
					<div class="row">
				<h1 style="color : black;font-size: 80px;"> Bách </h1>
				</div>
				<div class="row">
					<h1 style="color : red;font-size: 80px;"> Khoa </h1>
				</div>
			</div>
			<div class="6" align=left style="font-size: 150px">Đà Nẵng</div>

		</div>
		<!-- <a style="font-size: 20px">CAP</a> -->
	</div>
</div>

<form method="post" action="/dangnhap" align="center">
	<input type="input" name="username" placeholder="username" required autofocus>
	<br/>
	<br/>
	<input type="password" name="password" placeholder="********" required>
	<br/>
	<br/>
	<input style="color:green;border-color: red;width:200px;height: 100px" type="submit" name="Login" value="Submit">
</form>

</body>
</html>


